
<div class="container">
  <h1 class="title is-1 has-text-centered">Current Weather of Major Cities</h1>

  <div class="column is-12">


<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title"><%= link_to 'Paris', paris_path, :target => 'blank' %></p>
          
          
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title"><%= link_to 'Venice', venice_path, :target => 'blank' %></p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title"><%= link_to 'Los Angeles', losangeles_path, :target => 'blank' %></p>
          <figure class="image is-4by3">
          </figure>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title"><%= link_to 'London', london_path, :target => 'blank' %></p>
      </div>
    </article>
  </div>
</div>

</div>

<div class="column is-12">
<a href="https://darksky.net/poweredby/" target="_blank" class="button is-medium is-fullwidth">
Powered by Dark Sky
</a>
</div>

</div>



